table.installersteptable {
	width:					200px;
	background-color:		#d5d2cd;
	border-right:			#000000 0px solid;
	border-bottom:			#000000 0px solid;
	border-left:			#FFFFFF 0px solid;
	border-top:				#FFFFFF 0px solid;
}
td.installersteptable {
	width:					200px;
}
td.installersteprow {
	height:					40px;
}
td.installersteprow_2 {
	height:					40px;
	border-right:			1px #000000 solid;
}

div.installersteptable_current_step {
	text-decoration:		none;
	font-size:				15px;
	position:				relative;
	top:					-16px;
	left:					+1px;
	line-height:			17px;
	color:					#969696;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					wait;
}
div.installersteptable_current_step_shadow {
	text-decoration:		none;
	font-size:				15px;
	line-height:			17px;
	position:				relative;
	top:					+2px;
	left:					+2px;
	color:					#000000;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					wait;
}
div.installersteptable_available_step {
	text-decoration:		none;
	font-size:				15px;
	position:				relative;
	top:					-16px;
	left:					+1px;
	line-height:			17px;
	color:					#d5d2cd;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					pointer;
}
div.installersteptable_available_step_shadow {
	text-decoration:		none;
	font-size:				15px;
	line-height:			17px;
	position:				relative;
	top:					+2px;
	left:					+2px;
	color:					#000000;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					pointer;
}
div.installersteptable_available_step:hover {
	text-decoration:		none;
	font-size:				15px;
	position:				relative;
	top:					-16px;
	left:					+1px;
	line-height:			17px;
	color:					#969696;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					pointer;
}

div.installersteptable_unavailable_step {
	text-decoration:		none;
	font-size:				15px;
	position:				relative;
	top:					-16px;
	left:					+1px;
	line-height:			17px;
	color:					#777777;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					wait;
}
div.installersteptable_unavailable_step_shadow {
	text-decoration:		none;
	font-size:				15px;
	line-height:			17px;
	position:				relative;
	top:					+2px;
	left:					+2px;
	color:					#FFFFFF;
	text-align:				left;
	vertical-align:			top;
	font-weight:			bold;
	cursor:					wait;
}
