<pages>
	<installer>
		<title>[Installerdemo 0.1]</title>
		<nextstring>[next]</nextstring>
		<completestring>[Setup complete.]</completestring>
		<finishedstring>[Installation complete]</finishedstring>
		<finish>
			<action>	!_output_createInstalldirectory:$installdir</action>
			<required>	1</required>
			<errormessage>
				[Installation failed. Could not create directory.]
			</errormessage>
		</finish>
		<finish>
			<action>	!_output_unpackScript:$installdir</action>
			<required>	1</required>
			<errormessage>
				[Installation failed. Could not extract script.]
			</errormessage>
		</finish>
		<finish>
			<action>	!_output_VarToFile:$installdir/democonfig.php,dbms+dbhost+dbname+dbuser+dbpasswd+table_prefix</action>
			<required>	1</required>
			<errormessage>
				[Installation failed. Could not write variables.]
			</errormessage>
		</finish>
		<finish>
			<action>	!_finish</action>
			<required>	1</required>
			<errormessage>
				[Installation failed. Could not finish installation.]
			</errormessage>
		</finish>
		<redirectTo>!_value_redirectTo:$installdir/index.php</redirectTo>
	</installer>
	<page>
		<title>	[License]</title>
		<name>	[License agreement]</name>
		<desc>	[Script's license]</desc>
		<variable>
			<name>			none1</name>
			<htmlname>		[License]</htmlname>				
			<htmldesc>		</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		box</formtype>
			<defaultvalue>	.license.txt</defaultvalue>
			<autovalue>		=</autovalue>
		</variable>
		<variable>
			<name>			accept_license</name>
			<htmlname>		[Accept license?]</htmlname>				
			<htmldesc>		</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		select</formtype>
			<defaultvalue>	=[No],[Yes]</defaultvalue>
			<autovalue>		=[Yes]</autovalue>
			<check>
				<required>	1</required>
				<action>	!_check_Formspecific:[Yes]</action>
				<errormessage>
					[You must accept the license to install]
				</errormessage>
			</check>
		</variable>
	</page>
	<page>
		<title>		[Installation directory]</title>
		<name>		[Installation directory]</name>
		<desc>		[Directory to install this script]</desc>
		<variable>
			<name>			installdir</name>
			<htmlname>		[Path for demoscript]</htmlname>
			<htmldesc>		[Smileinstallerdemo. No user defined path allowed.]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		select</formtype>
			<defaultvalue>	!_value_demopaths</defaultvalue>
			<autovalue>		=</autovalue>
			<check>		
				<required>	1</required>
				<action>	!_check_Formspecific</action>
				<errormessage>
					[Selected path is not available path]
				</errormessage>
			</check>
			<check>		
				<required>	1</required>
				<action>	!_check_isInstalldirOk</action>
				<errormessage>
					[Can not install in this directory]
				</errormessage>
			</check>
		</variable>
	</page>	
	<page>
		<title>	[Server]</title>
		<name>	[Server]</name>
		<desc>	[Informations for Webserver and SQL-Server]</desc>
		<variable>
			<name>			server_name</name>
			<htmlname>		[Server name]</htmlname>
			<htmldesc>		[Name of the Webserver]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	!_value_Servername</defaultvalue>
			<autovalue>		!_value_Servername</autovalue>
			<check>
				<action>	!_check_notNull</action>
				<required>	1</required>
				<errormessage>
					[Server name is required]
				</errormessage>
			</check>
		</variable>
		<variable>
			<name>			server_port</name>
			<htmlname>		[Server port]</htmlname>
			<htmldesc>		[Port for HTTP]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	!_value_Serverport</defaultvalue>
			<autovalue>		!_value_Serverport</autovalue>
			<check>
				<action>	!_check_notNull</action>
				<required>	1</required>
				<errormessage>
					[Server port is required]
				</errormessage>
			</check>
		</variable>
		<variable>
			<name>			dbms</name>
			<htmlname>		[Databasetype]</htmlname>
			<htmldesc>		[Which Databaseserver would you like to use?]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		select</formtype>
			<defaultvalue>	!_value_supportedDatabases</defaultvalue>
			<autovalue>		!_value_SQLDetect</autovalue>
		</variable>
		<variable>
			<name>			dbhost</name>
			<htmlname>		[Database server]</htmlname>
			<htmldesc>		[Hostname or IP of your databaseserver]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	=localhost</defaultvalue>
			<autovalue>		!_value_Servername</autovalue>
			<check>
				<action>	!_check_NotNull</action>
				<required>	1</required>
				<errormessage>
					[Database server is required]
				</errormessage>
			</check>
		</variable>
		<variable>
			<name>			dbuser</name>
			<htmlname>		[Username databaseserver]</htmlname>
			<htmldesc>		[Username for your databaseserver]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	=phpbb2user</defaultvalue>
			<autovalue>		=phpbb2user</autovalue>
			<check>
				<action>	!_check_NotNull</action>
				<required>	1</required>
				<errormessage>
					[Username is required]
				</errormessage>
			</check>
		</variable>
		<variable>
			<name>			dbpasswd</name>
			<htmlname>		[Password databaseserver]</htmlname>
			<htmldesc>		[Password for your databaseserver]</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		password</formtype>
			<defaultvalue>	=</defaultvalue>
			<autovalue>		=</autovalue>
		</variable>
		<variable>
			<name>			testdb</name>
			<htmlname>		[Database]</htmlname>
			<htmldesc>		[Available database on this server]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	=</defaultvalue>
			<autovalue>		=[Is very important!]</autovalue>
		</variable>
		<check>
			<action>		!_check_SQLConnection:$dbms,$dbhost,$dbuser,$dbpasswd,$testdb</action>
			<required>		1</required>
			<errormessage>
				[Can't connect to database]
			</errormessage>
		</check>
	</page>
	<page>
		<title>	[Select database]</title>
		<name>	[Select database]</name>
		<desc>	[Database and tables to use]</desc>
		<variable>
			<name>			dbname</name>
			<htmlname>		[Existing databases]</htmlname>
			<htmldesc>		[Select an existing database]</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		select</formtype>
			<defaultvalue>	!_value_SQLDatabasesUser:$dbms,$dbhost,$dbuser,$dbpasswd</defaultvalue>
			<autovalue>		=</autovalue>
		</variable>
		<variable>
			<name>			tableprefix</name>
			<htmlname>		[Tableprefix]</htmlname>
			<htmldesc>		[Prefix for PHPbb2's tables]</htmldesc>
			<required>		1</required>
			<newline>		1</newline>
			<formtype>		input</formtype>
			<defaultvalue>	=</defaultvalue>
			<autovalue>		=phpbb2</autovalue>
		</variable>
	</page>
</pages>