<pages>
	<installer>
		<title>[Instant Config Maker 0.1]</title>
		<nextstring>[next]</nextstring>
		<completestring>[Config complete.]</completestring>
		<onComplete>
			<showVars>	all</showVars>
			<string>	[Config complete.]</string>
		</onComplete>
		<onFinish>
			<string>	[Config finished.]</string>
			<checkfunctions>
			</checkfunctions>
			<valuefunctions>
			</valuefunctions>
			<outputfunctions>
				<function>
					<name>displayConfig</name>
					<required>1</required>
					<errormessage>[Config failed. Could not display config.]</errormessage>
				</function>
			</outputfunctions>
		</onFinish>
	</installer>
	<page>
		<title>	[License]</title>
		<name>	[License agreement]</name>
		<desc>	[Script's license]</desc>
		<variable>
			<name>			none1</name>
			<htmlname>		[License]</htmlname>				
			<htmldesc>		</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		box</formtype>
			<defaultvalue>	.license.txt</defaultvalue>
			<autovalue>		=</autovalue>
		</variable>
		<variable>
			<name>			accept_license</name>
			<htmlname>		[Accept license?]</htmlname>				
			<htmldesc>		</htmldesc>
			<required>		0</required>
			<newline>		1</newline>
			<formtype>		select</formtype>
			<defaultvalue>	=[No],[Yes]</defaultvalue>
			<autovalue>		=[Yes]</autovalue>
			<check>
				<required>	1</required>
				<action>	!_check_Formspecific:[Yes]</action>
				<errormessage>
					[You must accept the license to install]
				</errormessage>
			</check>
		</variable>
		<check>
			<required>	1</required>
			<action>	!_output_addPage:[Variables for page #P],[],[]</action>
			<errormessage>
				[Could not create new page]
			</errormessage>
		</check>
		<check>
			<required>	1</required>
			<action>	!_output_addVariableToLastPage:total_variables_page_#P,[Variablen der Seite],[-],=1,=,input,1,1</action>
			<errormessage>
				[Could not create new variable on last page]
			</errormessage>
		</check>
		<check>
			<required>	1</required>
			<action>	!_output_addActionToLastVariable:!_check_isNumeric</action>
			<errormessage>
				[Could not create new action for last variable]
			</errormessage>
		</check>
		<check>
			<required>	1</required>
			<action>	!_output_addOptionToLastAction:§test</action>
			<errormessage>
				[Could not create new option for last action]
			</errormessage>
		</check>
	</page>
</pages>