a:link {
	color:					#000000;
}
body {
	margin:					0px;
	background:				#ffaa3b;
}
table.pages {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid; 
	BORDER-LEFT:			#000000 1px solid;
	padding:				0px;
	width:					150px;
}
td.pagehead {
	font-size:				20px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 3px solid;
	padding:				0px;
	text-align:				center;
	font-weight:			bold;
	height:					20px;
	width:					200px;
}
td.activepage_top {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 1px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	cursor:					pointer;
}
td.activepage_top:hover {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 1px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	cursor:					pointer;
}

td.activepage {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 3px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	cursor:					pointer;
}
td.activepage:hover {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 3px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				right;
	padding:				3px;
	cursor:					pointer;
}
td.activepagespacer {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 3px solid;
	height:					100%;
	vertical-align:			middle;
	padding:				3px;
	cursor:					pointer;
}
input.pagesubmitactivepage {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 2px solid; 
	BORDER-LEFT:			#000000 0px solid;
	BORDER-BOTTOM:			#000000 2px solid; 
	BORDER-RIGHT:			#000000 0px solid;
	padding-left:			10px;
	padding-right:			10px;
	padding-top:			3px;
	padding-bottom:			3px;
	cursor:					pointer;
}
input.pagesubmitactivepage:hover {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 2px solid; 
	BORDER-LEFT:			#000000 0px solid;
	BORDER-BOTTOM:			#000000 2px solid; 
	BORDER-RIGHT:			#000000 0px solid;
	padding-left:			10px;
	padding-right:			10px;
	padding-top:			3px;
	padding-bottom:			3px;
	cursor:					pointer;
}
td.inactivepage {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#abaaa8;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 3px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	padding:				3px;
	cursor:					wait;
}
td.inactivepage_top {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#abaaa8;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 1px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	padding:				3px;
	cursor:					wait;
}
td.currentpage {
	font-size:				15px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 3px solid;
	BORDER-BOTTOM:			#000000 3px solid;
	BORDER-LEFT:			#000000 3px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	font-weight:			bold;
	padding:				3px;
	cursor:					wait;
}
td.currentpage_top {
	font-size:				15px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid;
	BORDER-LEFT:			#000000 1px solid;
	BORDER-RIGHT:			#000000 1px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	font-weight:			bold;
	padding:				3px;
	cursor:					wait;
}
input.pagesubmitincurrentpage {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#4A668A;
	white-space:			nowrap;
	height:					50px;
	max-height:				50px;
	padding:				2px;
	cursor:					pointer;
}
td.contentspace {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffbb3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 3px solid; 
	BORDER-BOTTOM:			#000000 3px solid;
	BORDER-RIGHT:			#000000 3px solid;
	padding:				0px;
	text-align:				center;
	vertical-align:			top;
}
td.installeritem_0 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#FFFFFF;
	background:				#ccbb3b;
	vertical-align:			middle;
	text-align:				center;
	height:					50px;
	max-height:				50px;
	cursor: 				pointer;
	padding:				10px;
}
td.installeritem_0:hover {
	white-space:			nowrap;
	font-size:				14px;
	color:					#FFFFFF;
	background:				#aa9919;
	vertical-align:			middle;
	text-align:				center;
	height:					50px;
	max-height:				50px;
	cursor: 				pointer;
	padding:				10px;
}
td.installeritem_1 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#FFFFFF;
	background:				#ffaa00;
	vertical-align:			middle;
	text-align:				center;
	height:					50px;
	max-height:				50px;
	cursor: 				pointer;
	padding:				10px;
}
td.installeritem_1:hover {
	white-space:			nowrap;
	font-size:				14px;
	color:					#FFFFFF;
	background:				#dd8800;
	vertical-align:			middle;
	text-align:				center;
	height:					50px;
	max-height:				50px;
	cursor: 				pointer;
	padding:				10px;
}
tr.content_head:hover, tr.content_foot:hover {
	white-space:			nowrap;
	font-size:				14px;
	color:					#FFFFFF;
	background:				#998808;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_row_0 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#ccbb3b;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_row_0:hover {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#aa9919;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_row_1 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#ffaa00;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_row_1:hover {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#dd8800;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}

tr.content_error_0 {
	white-space:			nowrap;
	font-family:			Courier;
	font-size:				12px;
	color:					#000000;
	background:				#ccbb3b;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_error_0:hover {
	white-space:			nowrap;
	font-size:				12px;
	color:					#000000;
	background:				#aa9919;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_error_1 {
	white-space:			nowrap;
	font-size:				12px;
	color:					#000000;
	background:				#ffaa00;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}
tr.content_error_1:hover {
	white-space:			nowrap;
	font-size:				12px;
	color:					#000000;
	background:				#dd8800;
	vertical-align:			top;
	text-align:				left;
	height:					22px;
	padding:				2px;
}

table.contenttable {
	background-color:		#000000;
}
td.content_head {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#c98400;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					20px;
	max-height:				20px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	font-weight:			bold;
}
div.content_head_title {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#c98400;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					20px;
	max-height:				20px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	font-weight:			normal;
}
font.content_head_description {
	font-size:				12px;
	color:					#000000;
	white-space:			nowrap;
	background:				#c98400;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					20px;
	max-height:				20px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	font-weight:			normal;
}
td.content_foot {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#c98400;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					20px;
	max-height:				20px;
	vertical-align:			middle;
	text-align:				right;
	padding:				3px;
	font-weight:			bold;
}
input.variable, select.variable, textarea.variable {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background-color:		#c98400;
	white-space:			nowrap;
	BORDER-TOP:				#000000 1px solid; 
	BORDER-LEFT:			#000000 1px solid;
	BORDER-BOTTOM:			#000000 1px solid; 
	BORDER-RIGHT:			#000000 1px solid;
	padding-left:			2px;
	padding-right:			2px;
	padding-top:			1px;
	padding-bottom:			1px;
	cursor:					pointer;
}
td.headline {
	font-size:				24px;
	color:					#000000;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				center;
	font-weight:			bold;
	padding:				3px;
}
td.infoline {
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background:				#ffaa3b;
	white-space:			nowrap;
	BORDER-TOP:				#000000 0px solid;
	BORDER-BOTTOM:			#000000 0px solid;
	BORDER-LEFT:			#000000 0px solid;
	BORDER-RIGHT:			#000000 0px solid;
	height:					50px;
	max-height:				50px;
	vertical-align:			middle;
	text-align:				center;
	padding:				3px;
	cursor:					help;
}
