table.contenttable {
	width:					100%;
	background-color:		#d5d2cd;
}
td.contenttable {
	width:					100%;
	font-size:				14px;
	color:					#FFFFFF;
	white-space:			nowrap;
	background-color:		#d5d2cd;
}
td.contenttable_head {
	font-size:				20px;
	color:					#000000;
	white-space:			nowrap;
	background:				#d5d2cd;
	height:					40px;
	text-align:				left;
	padding:				3px;
	font-weight:			bold;
	border-bottom:			#000000 3px solid;
}
td.contenttable_foot {
	font-size:				14px;
	color:					#000000;
	white-space:			nowrap;
	background:				#d5d2cd;
	border-left:			#000000 0px solid;
	height:					30px;
	text-align:				right;
	padding:				3px;
	font-weight:			bold;
}
td.contenttable_row_0_1, td.contenttable_row_0_2, td.contenttable_row_1_1, td.contenttable_row_1_2 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#d5d2cd;
	vertical-align:			top;
	text-align:				left;
	height:					30px;
	padding:				2px;
	border-bottom:			#000000 1px solid;
	border-left:			#000000 1px solid;
}
td.contenttable_row_0_3, td.contenttable_row_1_3 {
	white-space:			nowrap;
	font-size:				14px;
	color:					#000000;
	background:				#d5d2cd;
	vertical-align:			top;
	text-align:				left;
	height:					30px;
	padding:				2px;
	border-bottom:			#000000 1px solid;
	border-right:			#000000 1px solid;
	border-left:			#000000 1px solid;
}
td.contenttable_row_disabled_0, td.contenttable_row_disabled_1 {
	font-size:				12px;
	width:					100%;
	color:					#000000;
	border-bottom:			#000000 1px solid;
	border-left:			#000000 1px solid;
	border-right:			#000000 1px solid;
}
td.contenttable_row_1_help {
	font-size:				12px;
	color:					#000000;
}
font.contenttable_head_description {
	font-size:				12px;
	color:					#000000;
	font-weight:			bold;
}